{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-8">
        <br>
        <h3>The last 10 emails:</h3>
        <ul>
            {% for mail in object_list %}
            <br>
            <li><strong>Email N{{ forloop.counter }}</strong></li>
            <li>From: {{ mail.from_address }}</li>
            <li>To: {{ mail.to_address }}</li>
            <li>Message: {{ mail.message }}</li>
            <li>Status: <strong>{{ mail.status }}</strong></li>
            <li>Creation date: {{ mail.creation_date }}</li>
            <li>Send date: {{ mail.send_date }}</li>
            <li>Timeout(sec): {{ mail.send_timeout }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-4">
        <br>
        <br>
        {% if waiting_to_send %}
        <h5>The emails waiting to send:</h5>
        <ul>
            {% for mail in waiting_to_send%}
            <br>
            <li>Subject: From {{ mail.from_address }}</li>
            <li>Message: {{ mail.message }}</li>
            <li>Status: <strong>{{ mail.status }}</strong></li>
            <li>Creation date: {{ mail.creation_date }}</li>
            <li>Send date: {{ mail.send_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        {% if sended %}
        <h5>The sended emails:</h5>
        <ul>
            {% for mail in sended %}
            <br>
            <li>Subject: From {{ mail.from_address }}</li>
            <li>Message: {{ mail.message }}</li>
            <li>Status: <strong>{{ mail.status }}</strong></li>
            <li>Creation date: {{ mail.creation_date }}</li>
            <li>Send date: {{ mail.send_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}